<%=provide(:title,@user.name)%>
<%=provide(:user_name,@user.name)%>
<h1><%="Posts by "+@user.name%></h1>
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <ol class="posts">
      	<% @user.posts.each do |post| %>
      		<!--Could be put in a partial _header.html.erb-->
	        <li id="post-<%= post.id %>">
	        	<%=post.user.name %>
	        	<span class="date">
			    	<%= post.created_at.strftime("Created on %m/%d/%Y")   %>.
			    </span>
	        	<span class="content"><%= post.content %>
	        		 <% if current_user?(post.user) %>
	        			 <%= link_to "edit", edit_post_url(post.id), method: :update %>
     				 	<%= link_to "delete", post, method: :delete,
                                       data: { confirm: "Sure?" } %>
    				<%end%>
	        	</span>
	        	
			</li>
		<% end %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>

